.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #37474f;
  color: #bdbdbd;
  width: 80.3%;
  border-radius: 0 0 8px 8px;
  padding: 0 0.5rem;
  cursor: text;
}
.youtube {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.title {
  font-size: 3em;
  margin: 0.4em;
}

.form {
  display: flex;
  width: 70%;
}
.input {
  width: 90%;
  font-size: 2rem;
  border: none;
  outline: none;
  padding-left: 0.5rem;
  background-color: #bdbdbd;
}
.right {
  display: flex;
  align-items: center;
  background-color: #bdbdbd;
}
.button0 {
  background-color: #bdbdbd;
  border: none;
  outline: none;
  color: #8d8d8d;
  font-size: 2em;
  padding-right: 1rem;
  cursor: pointer;
  visibility: hidden;
}
.button {
  width: 100%;
  height: 100%;
  font-size: 0.5em;
  cursor: pointer;
  background-color: #bdbdbd;
  border: none;
  outline: none;
  padding: 0.5em;
}
.button_img {
  width: 32px;
  height: 32px;
  transition: transform 200ms ease-in;
}
.button_img:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .logo {
    width: 30px;
    height: 30px;
  }
  .title {
    font-size: 2em;
  }
}
